BITS=4096
EXPIRATION_DAYS=365
ORGANIZATION="{{ taskd_selfsigned_organization }}"
CN={{ taskd_selfsigned_cn }}
COUNTRY={{ taskd_selfsigned_country }}
STATE="{{ taskd_selfsigned_state }}"
LOCALITY="{{ taskd_selfsigned_locality }}"
