confirmation=1
extensions=/usr/libexec/taskd
ip.log=on
log={{ taskd_data_path}}/taskd.log
pid.file={{ taskd_data_path }}/taskd.pid
queue.size=10
request.limit=1048576
root={{ taskd_data_path }}
server={{ taskd_domain }}:{{ taskd_port }}
trust=strict
verbose=1
server.cert={{ taskd_data_path }}/certs/fullchain.pem
server.key={{ taskd_data_path }}/certs/privkey.pem
ca.cert={{ taskd_data_path }}/certs/ca.cert.pem
